#dokkanimage{
    width: 80px;

    }


:root{
        --primary-color: #edf2fc;
        --secondary-color: #212121; 
     }
.dark-theme{
         --primary-color: #000106;
         --secondary-color: #fff; 
     }

#icondark{
        width: 30px;
        cursor: pointer;
    }

body.dark {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/ddxctwx-a3270697-013f-4a86-8e01-84da29d03ebe.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg0ZGMxM2I3LWEyZTctNGI0NS04M2VjLTMxMWU3MmU4MjkwMFwvZGR4Y3R3eC1hMzI3MDY5Ny0wMTNmLTRhODYtOGUwMS04NGRhMjlkMDNlYmUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oPAp3RiN3FjglOtASXckO31fI_16JVzktoUH0xd88PM);
        background-repeat:no-repeat;
        background-size: cover;

    }
#containerbody{
    background-color: var(--secondary-color);
    width: 80%;
    margin-top: 1%;
}


div.title-block {
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: var(--secondary-color);
    }
    div.photo-block {
        text-align: center;
        border: 1px solid var(--secondary-color);
        border-radius: 5%;
    }
    div.photo-title {
        font-size: 140%;
        font-family: Arial;
        text-decoration: underline;
    }


  
    


h6 {
    text-align: left;
    margin-left: 2%;
      }

#typeicon{
    width: 70px;
}

